body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #f0f4f5fb;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a.active {
    color: #f0a500;
}

nav ul li a:hover {
    color: #f0a500;
}

section {
    padding: 60px 20px;
    margin-top: 60px;
    max-width: 800px;
    }

#home {
    background: #f4f4f4;
    text-align: center;
    padding-top: 100px;
}

#about, #contact {
    background: #88ee35;
}

#projects {
    background: #f3f033;
}
#skills {
    background: #f3f032;
}

h1, h2, h3 {
    margin: 0 0 20px;
    text-align: center;
}

p {
    text-align: center;
}

.center-grid {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 5px 0;
}

@keyframes slide {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.animated-text {
    font-size: 3em;
    font-weight: bold;
    color: greenyellow;
    text-shadow: 2px 2px 0 #333;
    animation: slide 4s ease;
}

.project {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    animation: fadeIn 2s ease;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .animated-text {
        font-size: 2em;
    }
}
